.container{
    width: 80%;
    margin: auto;
    

}

img {
    width: 30%;
    max-height: 550px;
    margin: 1,4%;
    margin-left: 1px;
}

p {
    font-size: 40px;
}

body {

    font-family: 'Square Peg', cursive;
    text-align: center;
}

h1 {
    width:10%;
    text-transform: uppercase;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    padding-top: 10px;
    text-align: center;
}

html {

    background-color: black;
    color: white;
}

