.container{
    width: 80%;
    margin: 0 auto;
    

}

img {
    width: 30%;
    max-height: 550px;
    margin: 1,4%;
    margin-left: 1px;
}


body {

    font-family: 'Square Peg', cursive;
    text-align: center;
    
}

.x {
    width:10%;
    text-transform: uppercase;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    padding-top: 20px;
    font-size: 40px;
    margin: auto;

}

html {

    background-color: black;
    color: white;
}

h2 {
    text-align: center;
}

